<head>
	<meta charset="UTF-8">
	<title>{{title}}{{settings.title}}</title>
	<meta content="{{keywords}} {{settings.keywords}}" name="keywords"/>
	<meta content="{{title}}" name="description"/>
	<meta content="{{author}}" name="author"/>
	<meta content="width=device-width, initial-scale=1" name="viewport"/>
	<link href="{{canonical}}" rel="canonical"/>
</head>