<!DOCTYPE html>
<html lang="de">
	{{>partials.head}}
	<body>
		<main>
			<article>
				<h1>{{title}}</h1>
				{{#published}}
				<hr/>
				<small>
					Published: <b>{{#date(format=d.m.Y)}}{{published}}{{/date}}</b> {{#author}} from <b>{{.}}</b>{{/author}}
				</small>
				{{/published}}
				<hr/>
				{{#image}}
				<figure>
					<picture>
						<source srcset="{{#img(res=content&format=webp)}}{{.}}{{/img}}" type="image/webp">
						<img alt="{{element.meta.alt}}" src="{{#img(res=content)}}{{.}}{{/img}}"/>
					</picture>
				</figure>
				{{/image}}
				<p>{{#formatHtml}}{{{content}}}{{/formatHtml}}</p>
			</article>
		</main>
	</body>
</html>